footer {
    padding         : 5px 0;
    background-color: #010615;
    text-transform  : uppercase;
    text-align      : center;
    text-align-last : center;
    color           : #383c43;
    font-family     : Arial, Helvetica, sans-serif;
}

.terms-conditions {
    width    : 95%;
    margin   : auto;
    font-size: 15px;
}

.links a {
    color         : #383c43;
    font-size     : 18px;
    text-transform: capitalize;
    font-weight   : bold;
}

.sunbet-links {
    margin: 30px auto;
}

.sunbet-links a {
    font-size  : 10px;
    font-family: Arial, Helvetica, sans-serif;
    color      : #383c43;
}

.capitalized {
    text-transform: capitalize;
}




@media screen and (min-width: 769px) and (max-width: 1024px) {
    .terms-conditions {
        font-size: 12px;
    }

    .links a {
        font-size: 12px;
    }

    .sunbet-links a {
        font-size: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .terms-conditions {
        font-size: 12px;
    }

    .links{
        width: 70%;
        margin: auto;
    }

    .links a {
        font-size: 12px;
    }

    .sunbet-links a {
        font-size: 10px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .terms-conditions {
        font-size: 10px;
        line-height: 1.5em;
    }

    .contact-details{
        display: block;
    }

    .links{
        width: 80%;
        margin: auto;
    }

    .links a {
        font-size: 10px;
    }

    .sunbet-links a {
        font-size: 10px;
        margin: 20px auto;
    }

    .sunbet-links{
        margin: 15px auto;
    }
}

@media screen and (max-width: 320px) {
    .terms-conditions {
        font-size: 10px;
        line-height: 1.5em;
    }

    .contact-details{
        display: block;
    }

    .links{
        width: 87%;
        margin: auto;
    }

    .links a {
        font-size: 10px;
    }

    .sunbet-links a {
        font-size: 10px;
        margin: 20px auto;
    }

    .sunbet-links{
        margin: 15px auto;
    }

    .help-link{
        display: block;
    }
}